@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(200deg, #000000, #808080);
  background-attachment: fixed;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  margin: 0;
}

h1 {
  color: #e53935;
  border-bottom: 10px solid #e53935;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  background: #030101;
  padding: 15px 25px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

label {
  font-weight: bold;
  margin-right: 20px;
}

input[type="text"] {
  background: #333;
  border: 1px solid #444;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  flex-grow: 1;
  outline: none;
}

input[type="text"]:focus {
  border-color: #ffffff;
}

input[type="button"] {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition:
    transform 0.2s,
    background 0.3s;
  margin: 5px;
}

#btAdicionar {
  background-color: #e53935;
  color: white;
}

#btAdicionar:hover {
  background-color: #b71c1c;
  transform: scale(1.05);
}

#btLimpar {
  background-color: #444;
  color: #ccc;
}

#btLimpar:hover {
  background-color: #555;
  color: white;
}

#outResp {
  background-color: #1e1e1e;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  border-radius: 8px;
  line-height: 1.6;
  font-size: 1.1rem;
  color: white;
  white-space: pre-wrap;
}
